/* BRANDING */

.branding{
    display: none;
    & .leftside_info{
        background-image: url(../images/background_6.jpg);
    }

    & .rightside_info{
        & .container{
            & .desc{
                & figure{
                    background-image: url(../images/background_7.jpg);
                }
            }
        }
    }
}