/* HEADER */

.header{
    background-color: var(--color_dark);
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 9999;

    & .logo{

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        & a{
            width: 4rem;
            height: 4rem;
            background-image: url(../images/logo.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 1rem;
        }

        & p{
            font-size: 1.6rem;
            color: var(--color_grayScale5);
            font-weight: bold;
        }
    }

    & .ham{
        width: 5.5rem;
        height: 4.5rem;
        margin: .5rem 1rem .5rem 0;
        padding: 1rem 1rem 1rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        border-left: .1rem solid var(--color_grayScale5);
        cursor: pointer;
        & .line{
            width: 100%;
            height: .3rem;
            background: var(--color_grayScale5);
        }
    }

    & .nav{
        display: none;
    }
}