/* MARKETING */

.marketing{
    display: none;
    & .leftside_info{
        background-image: url(../images/background_9.jpg);
    }

    & .rightside_info{
        & .container{
            & .desc{
                & figure{
                    background-image: url(../images/background_8.jpg);
                }
            }
        }
    }
}