/* TOP MARKETING */

.top_marketing{
    display: none;
    & .leftside_info{
        background-image: url(../images/background_1.jpg);
    }

    & .rightside_info{
        & .container{
            & .desc{
                & figure{
                    background-image: url(../images/background_2.jpg);
                }
            }
        }
    }
}
