/* WEB DESING */

.web_design{
    display: none;
    & .leftside_info{
        background-image: url(../images/background_4.jpg);
    }

    & .rightside_info{
        & .container{
            & .desc{
                & figure{
                    background-image: url(../images/background_3.jpg);
                    background-position: -25rem center;
                }
            }
        }
    }
}